/target
/data
/.env
/.env.*
!/.env.example
**/*.db
**/*.db-journal
**/*.db-wal
**/*.db-shm
.idea
.vscode
*.swp
*.swo
.DS_Store
/reference
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/*.tsbuildinfo
/frontend-user/node_modules/
/frontend-user/.next/
/frontend-user/out/
/frontend-user/*.tsbuildinfo
__pycache__/
